<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Image Editor</h1>
        <input type="file" id="Upload" accept="image/*">
        <canvas id="canvas" width="600" height="400" style="border:1px solid black;"></canvas>
        <input type="range" id="Slider" min="-100" max="100" value="0">
        <button id="download">Download</button>
        
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
