<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comnet Image Editor</title>
    <link rel="stylesheet" href="/ImageEditor/app/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="/ImageEditor/app/static/js/popup.js" defer></script>
</head>
<body>
    <div class="homepage">
        <div class="sidebar" id="sidebar">
        <div class="header">
            <button id="menuBtn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    
        <div class="sidebar-list">
            <div class="sidebar-item">
                <a href="https://www.google.com/">
                    <i class="fa-solid fa-house"></i>
                    <p>Home</p>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="https://www.google.com/">
                    <i class="fa-solid fa-folder-open"></i>
                    <p>Projects</p>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="https://www.google.com/">
                    <i class="fa-regular fa-image"></i>
                    <p>Templates</p>
                </a>
            </div>
            
        </div>

        <div class="sidebar-end">
            <button class="sidebar-add-btn" data-modal-target="#popup">
                <i class="fa-solid fa-plus"></i>
            </button>
            
            <button class="sidebar-user-btn">
                <i class="fa-solid fa-circle-user"></i>
            </button>
        </div>
    </div>
    
    <!--This is a middlebar....-->
     <div class="middlebar" id="middlebar" >
        <div class="middlebar-upper">
            <div class="uppercontent">
                <button onclick="recentTemp()" >
                <p>Recent Templates</p>
                <i class="fa-solid fa-arrow-right" id="arrowIcon"></i>
            </button>
            </div>
            <div class="lowercontent" id="lowerContent">
                <ul>
                    <li>vivek</li>
                    <li>hiiiii</li>
                </ul>
            </div>
            
        </div>
        <div class="middlebar-bottom">
            <button>
                <i class="fa-solid fa-trash"></i>
                <p>Trash</p>
            </button>
        </div>
    </div>


    <!--This is a popup panel....-->
    <div class="popup" id="popup">
        <div class="popup-sidebar">
            <div class="popup-sidebar-header">
                <h2>Create a design</h2>
            </div>
            <div class="popup-sidebar-main">
                <a href="#">
                    <ul>
                        <li data-target="#custom-size-content" >
                            <img src="/ImageEditor/app/static/icons/fit_page_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="Size">
                            <p>Custom Size</p>
                        </li>
                        <li>
                            <img src="/ImageEditor/app/static/icons/upload_file_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="Upload">
                            <p>Upload</p>
                        </li>
                        <li>
                            <img src="/ImageEditor/app/static/icons/more_horiz_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="More">
                            <p>More</p>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="popup-main">
            <div class="popup-main-header">

                <div id="custom-size-content" class="custom-size-container hidden">
                    <h3>Custom size</h3>
                    <form class="custom-size-form" id="customSizeForm" action="/editor" method="get">
                        <div class="input-group">
                            <label for="width">Width</label>
                            <input type="number" id="width" name="width" placeholder="" required>
                        </div>
                
                        <div class="input-group">
                            <label for="height">Height</label>
                            <input type="number" id="height" name="height" placeholder="" required>
                        </div>
                
                        <div class="input-group">
                            <label for="units">Units</label>
                            <select id="units" name="units" required>
                                <option value="" disabled selected>Select unit</option>
                                <option value="px">px</option>
                                <option value="cm">cm</option>
                                <option value="in">in</option>
                            </select>
                        </div>
                
                        <button type="submit" class="submit-button" id="createButton" disabled>Create new design</button>
                    </form>
                </div>
                
                <div class="upload-container">
                    <h3 class="upload-title">Upload</h3>
                    <div class="upload-box" id="uploadBox">
                        <input type="file" id="fileInput" name="files" accept="image/*" multiple hidden>
                        <img src="/ImageEditor/app/static/icons/upload_icon.webp" width="60" height="60" alt="Upload Icon" class="upload-icon">
                        <p class="upload-text">Drop your content here or</p>
                        <button type="button" class="upload-btn" id="uploadBtn">Upload Files</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="popup-end">
            <button data-close-button class="close-button">&times;</button>
        </div>
        
    </div>
    <div  id="overlay"></div>

    <div class="main" id="mainContainer">
        <div class="main-header">
            <div class="logo">Image Editor</div>
            <div class="search-bar">
                <input type="text" id="search-bar" placeholder="Search.....">
            </div>
            <div class="search-button">
                <button>Go</button>
            </div>
        </div>
        <div class="main-header-body">
            <img src="\ImageEditor\app\static\icons\IMG-20250608-WA0012.jpg" alt="This is home page..">
            <div class="span-content">
                <span class="span-text1">IMAGE</span>
                <span class="span-text2">EDITOR</span>
                <span class="span-text3">Let's Edit</span>
                <span class="span-button">
                    <button data-modal-target="#popup">Get Started</button>
                </span>
            </div>

            <div class="feature-section"> 

                <div class="feature-heading">
                    <h1>Features</h2>
                </div>
                <div class="feature-body">

                    <div class="features-card">
                        <div class="card-head">
                            <i class="fa-solid fa-mobile"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <p>User Friendly</p>
                            </div>
                            <div class="card-description">
                                <p>The interface is clean, intuitive, and easy to navigate, designed for users of all skill levels. </p>
                            </div>
                            
                             </div>
                        
                    </div>

                     <div class="features-card">
                        <div class="card-head">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <p>AI Tools</p>
                            </div>
                            <div class="card-description">
                                 <p>Smart AI features like auto-enhance, object detection, and background removal simplify complex edits.</p>
                        
                            </div>
                            
                           </div>
                        
                    </div>
                     <div class="features-card">
                        <div class="card-head">
                            <i class="fa-solid fa-shield-halved"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title"> 
                                <p>Security</p>
                            </div>
                            <div class="card-description">
                                <p>User data is protected through encrypted uploads and secure storage practices. </p>
                        
                            </div>
                           
                            </div>
                        
                    </div>

                     <div class="features-card">
                        <div class="card-head">
                            <i class="fa-solid fa-filter"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <p>Filters & Effects</p>
                            </div>
                            <div class="card-description">
                                <p>A wide variety of artistic and corrective filters enhance creativity and image quality.</p>
                        
                            </div>
                            
                            </div>
                        
                    </div>

                     <div class="features-card">
                        <div class="card-head">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <p>Performance</p>
                            </div>
                            <div class="card-description">
                                <p>Optimized code and efficient rendering ensure quick uploads and edits, even for large files.</p>
                            </div>
                            
                            </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="userstory-section">
                <div class="section-heading">
                    <h1>User Sucess Stories</h1>
                </div>
                <div class="section-body">
                    <div class="section-cards">
                        <img src="/ImageEditor/app/static/icons/ben-den-engelsen-YUu9UAcOKZ4-unsplash.jpg" alt="">
                        
                    </div>
                    <div class="section-cards">
                        <img src="/ImageEditor/app/static/icons/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg" alt="">
                        
                    </div>
                    <div class="section-cards">
                        <img src="/ImageEditor/app/static/icons/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt="">
                        
                    
                    </div>
                    <div class="section-cards">
                        <img src="/ImageEditor/app/static/icons/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                        
                    </div>
                </div>
            </div>

            <div class="contact-banner">
               
            </div>

        </div>
    </div>  

    </div>
    
</body>
</html>
